<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sätti</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/tachyons.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-fixed-top.css" %}" rel="stylesheet">
    <link href="{% static "css/sticky-footer.css" %}" rel="stylesheet">



</head>

<body class="bg-green black-80">

   <nav class="navbar navbar-default navbar-fixed-top bg-black">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand">Sätti</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" id="dropdown">Join room...<span class="sr-only">(current)</span></a>
            <ul class="dropdown-menu">
            <li><input type="text" id="room-name" value="Enter room name..."></li>
          </ul>
            </li>
            <li><a href="./signout">Logga ut<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-lg-4">
            <ul class="sidebar-nav">
                {% for room in rooms %}
                <li>
                    <a id="{{ room.pk }}" >{{ room.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="col-lg-8">
            <div class="container-fluid">
                    <div>
                    <div id="kulli">
                    </div>
                        <div class="container" style="position: absolute; bottom: 0;">
                            <div class="navbar-fixed-bottom">
                                <div>
                                    <div class="input-group">
                                        <input type="text" id="myText">
                                            <span class="input-group-btn">
                                                <button id="butan" onclick="" class="btn btn-sm" type="button">Send</button>
                                            </span>
                                        </div>
                                 </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script>
    var username = "{{ request.user.username }}"
    var i;
    {% for room in rooms %}

    var socket{{ room.pk }} = new WebSocket("ws://" + window.location.host + "/chat/" + "{{ room.pk }}" + "?username=" + username);

    socket{{ room.pk }}.onmessage = function(e) {
        if(i=={{ room.pk }}) {
        data = JSON.parse(e.data);
        document.getElementById("messages").innerHTML += "<div class=message>" + data.user + ": " + data.content + "</div>";
    } else return;
    }

    function sendMessage{{ room.pk }}() {
        var msg = {
            type: "message",
            room: {{ room.pk }},
            msg: document.getElementById("myText").value
        }
        socket{{ room.pk }}.send(JSON.stringify(msg));
        document.getElementById("myText").value = ""
    }

    $("#{{ room.pk }}").click(function(e) {
        e.preventDefault();
        i = {{ room.pk }}
        //alert(window.location.href + "chat/{{ room.pk }}/")
        $.get(window.location.href + "chat/{{ room.pk }}/", function(data) {
            $("#kulli").html(data);
        })
        document.getElementById("butan").setAttribute("onclick", "javascript: sendMessage{{ room.pk }}();");
    });

    $("input").keypress(function(event) {
        if(event.which==13) {
            event.preventDefault();
            sendMessage{{ room.pk }}();
                    }
    })
    {% endfor %}

    $("#room-name").on("click", function() {
    if ($(this).val() == "Enter room name...")
        $(this).val("")
    })

    $("#dropdown").on("click", function() {
        $("#room-name").val("Enter room name...")
    })

    </script>

</body>

</html>